@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

body {
    font-size: 10px;
    overflow-x: hidden;
    background-color: #f6f9f0;
}

html {}

.wrap {
    background-image: cover;
}